<h1>로그인</h1>
로그인 페이지 입니당<br/>
<small>
임시 로그인 정보<br/>
email 은 rapunzel87@naver.com<br/>
password 는 1q2w3e4r
</small>
<%= form_for :session, :url => sessions_path do |f| %>
<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>
<div class="actions">
	<%= f.submit "Sign in" %>
</div>
<% end %>