<header>
	<nav>
		<ul>
			<li><a {{action toDiary href=true}}>Diary</a></li>
			<li><a {{action toGuestbook href=true}}>Guestbook</a></li>
			<li><a {{action toPhoto href=true}}>Photo</a></li>
			<li><a {{action toMusic href=true}}>Music</a></li>
		</ul>
	</nav>
</header>
<div class="content">
어플리케이션이당!
{{outlet}}
</div>